@using Microsoft.AspNetCore.Identity;
@using Auctions.Models.Database;
@using System.Security.Claims;
@using System.Globalization;

@model Auctions.Models.Database.Auction

@inject SignInManager<User> sign_in_manager

@{
    ViewData["Title"] = "Auction Details";

    var user_id = (string) TempData["user_id"];

    string image = Convert.ToBase64String(Model.image);
    var time_left = Model.closes_at - DateTime.Now;
    string role = "";
    string id = "";

    foreach(System.Security.Claims.Claim claim in User.Claims) {
        if(claim.Type.Equals(ClaimTypes.Role)) {
            role = claim.Value;
        }

        if(claim.Type.Equals("id")) {
            id = claim.Value;
        }
    }
}

<div id="auction">
    @{ await Html.RenderPartialAsync("AuctionDetailsPartial",Model); }
</div>
