@model IEnumerable<Auctions.Models.Database.Order>

@{
    ViewData["Title"] = "My Orders";
    string button_class = (string) TempData["button"];
    int current_page = (int) TempData["current_page"];
    int num_pages = (int) TempData["num_pages"];
    int cnt = Model.Count();
}

<div class="text-center">
    @if(TempData["action"] != null) {
        <div class="alert alert-@button_class alert-dissmisible" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @TempData["action"].ToString()
        </div>
    }
</div>
<div class="text-center">
    <div id="orders">
        @{ await Html.RenderPartialAsync("MyOrdersPartial", Model); }
    </div>
</div>